body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-image: url("../assets/imgs/background-header.jpg");
}

h1,
h2 {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer a:hover {
    color: #17a2b8;
}